form {
  width: 420px;
  padding: 1rem;
}
.title-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.title {
  padding-bottom: 3.375rem;
  display: inline-block;
  background-image: linear-gradient(
    93.6deg,
    #ff3102 0%,
    #db6400 34.9%,
    #ff8700 65.63%,
    #fbb800 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 4.5rem;
}
