.btn-primary {
  background-color: #ff5a23;
  border: none;
  border-radius: 4px;
  font-weight: 600;
}

.btn-primary:hover,
.btn-primary:active {
  filter: opacity(90%);
  background-color: #ff5a23;
}
