.bg-image {
  background-image: linear-gradient(to top, transparent 85%, black),
  url(https://d335luupugsy2.cloudfront.net/cms/files/107693/1655132576/$jp1dmh18t9g);
  background-size: initial;
  height: 100vh;
  background-attachment: fixed;
}

.bg-gradient {
  background-color: #fad961;
  background-image: linear-gradient(90deg, #f76b1c 0%, #fad961 100%);
  height: 60vh;
  padding: 4rem;
}

.home-h3 {
  color: #fff;
  align-self: center;
}

.home-h4 {
  color: #fff;
}

.home-btn {
  gap: 2rem;
}

.color-white {
  color: #fff;
}
