* {
  padding: 0;
  margin: 0;
  border: 0;
}

.apresentation {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to top, transparent 85%, black),
    url(https://d335luupugsy2.cloudfront.net/cms/files/107693/1655132576/$jp1dmh18t9g);
  background-size: initial;
  border-bottom: none;
  height: 100vh;
  background-attachment: fixed;
}

.container-apresentation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-orange {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-apresentation {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.text-apresentation h3 {
  color: white;
  flex-wrap: wrap;
}

.container-trails {
  background-color: #fad961;
  background-image: linear-gradient(90deg, #f76b1c 0%, #fad961 100%);
  height: 40vh;
  padding: 4rem;
}

.container-cards {
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.card-trail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-trail h5 {
  color: white;
}

.home-h3 {
  color: #fff;
  align-self: center;
}

.home-h4 {
  color: #fff;
}

.home-btn {
  display: flex;
  gap: 2rem;
}
