*{
  padding: 0;
  margin: 0;
  border: 0;
}

.apresentation {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to top, transparent 85%, black), url(https://d335luupugsy2.cloudfront.net/cms/files/107693/1655132576/$jp1dmh18t9g);
  background-size: initial;
  border-bottom: none;
  height: 85vh;
  background-attachment: fixed;
}

.container-apresentation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-orange {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-apresentation {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.text-apresentation h1 {
  color: #ff5a23;
  font-weight: 600;
  font-size: 3rem;
}

.text-apresentation h3 {
  color: white;
  flex-wrap: wrap;
}

.container-trails {
  background-image: linear-gradient(45deg, rgb(2, 255, 171), rgb(117, 32, 253));
  height: 70vh;
  padding: 9rem;
}

.container-cards {
  display: flex;
  justify-content: center;
  gap: 11rem;
}

.card-trail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-trail h3{
  color: white;
}