.navbar-bg-color {
  background-color: #f8f9fa;
}

.navbar-h6 {
  color: #ff5a23;
  font-weight: bold !important;
}

.navbar-menu {
  margin-left: 0.5rem !important;
  border-radius: 4px !important;
}
