.footer {
  display: flex;
  justify-content:space-evenly;
  background-color: #303133;
  height: 60vh;
}

.footer div {
  margin-top: 3rem;
}

.footer .items-footer {
  margin-top: 6rem;
  
}

.items-footer li {
  color: azure;
  list-style: none;
  font-size: 24px;
  text-align: center;
}

.items-footer li ul {
  margin: 20px;
}

.localizations {
  color: azure;
  list-style: none;
  font-size: 20px;
  text-align: center;
  max-width: 15rem;
}

.localizations ul {
  padding: 0;
}